body {
    background-color: aquamarine;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-size: larger;
    text-align: justify;
}
ul {
  margin: 80px;
}
li {
  margin: 10px;
}
#gato {
    border-radius: 25px;
}
a:hover {
    color: gold;
}